* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(background.png) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

header {
    text-align: center;
    margin: auto;
    padding: 50px;
    position: relative;
    box-sizing: content-box;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

input {
    background-color: rgba(255, 255, 255, 0.06);
    width: 200px;
    height: 50px;
    margin: 0px;
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #fcfcfc;
    padding-left: 15px;
    font-size: 20px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.image {
    text-align: center;
}

button {
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #fcfcfc;
    font-size: 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding: revert;
}

.card {
    height: 360px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.06);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 290px;
    bottom: 0;
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: #fcfcfc;
}

h4 {
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px 0;
}

h6 {
    text-align: center;
    color: #b3b3b3;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.card img {
    width: 70px;
    text-align: center;
    margin: auto;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.container {
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
}

.details {
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

#min,
#max {
    color: #b3b3b3;
    font-size: 15px;
}

.details:first-child {
    border-right: 2px solid #fcfcfc;
}